body {
    margin: 0;
}

#Welcome {
    color: lightblue;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 50px;
}

.all button {
    text-align: center;
    margin: 0 auto;
}

#daily_waste_tracking {
    padding: 60px 40px;
    background-color: #35A29F;
    color: white;
    border: 3px blue;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-radius: 12px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

#weekly_waste_tracking {
    padding: 60px 40px;
    background-color: #35A29F;
    color: white ;
    border: 3px blue;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-radius: 12px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

#chat_bot {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}